<div class="eight columns">
  <ul class="general-site-navigation">
    <li class="logo"><a href="../index"><img src="../../assets/images/Logo_Website.png" alt="Logo of Architecture Society"></a></li>
  </ul>
</div>
